html {
    width: 100%;
    height: 100%;
    margin: auto, 0, auto,auto;
    overflow-x: hidden;
    font-family: 'Kumbh Sans';
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) ;
    font-size: 14px;
  }
h2 {
    font-size: 14px;
    font-family: 'Kumbh Sans';
    font-weight: 700;
    color: hsl(240, 6%, 50%);
}

p {
    font-size:12px;
    width: 60%;
    color:hsl(240, 6%, 50%);
    font-family:'Kumbh Sans' ;
}

.line {
    width: 80%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}


.container {
    margin-top:7%;
    width: 70%;
    height: 550px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
    border-radius: 56px;
    /* NEDEN OLMADI?: margin-right: 0%;*/
    float: right;
    background-color: white;
    display: flex;
    
}

#bg {   
    width: 50%;
    background-image: url('./images/bg-pattern-desktop.svg');   
    background-size: 150%;
    background-repeat: no-repeat;
    /*Backgroundu niye ayarlayamadım?*/
    background-position: right 90px top -100px;
    /*display: inline-flex;*/
}


#obox { 
    position: relative;
    top:35%;
    left:-15%;
    z-index: 100;
}
   
#girl {
    position:relative;
    top:-25%;
    left: -10%;
    /*DIŞARDA KALAN KISIM NEDEN GİZLENMEDİ?*/
    overflow-y: hidden;
    z-index: 0;

}


#questions {
    width: 60%;
    margin: 8% 0%;
}

footer {
    position: fixed;
    bottom: 0;
    color:white;
}

footer a:link {
    color: white;
}

#first {display: none;
       }

#second {display: none;}  
#third {display: none;}     
#fourth {display: none;}  
#fifth {display: none;}  



button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    display: block;
    position: relative;
    display: flex;
}

button::after {
    position: absolute;
    margin-top: 9px;
   margin-left: 300px;

    content: url('./images/icon-arrow-down.svg');
}



